# Copyright 2025 Advanced Micro Devices
#
# Licensed under the Apache License v2.0 with LLVM Exceptions.
# See https://llvm.org/LICENSE.txt for license information.
# SPDX-License-Identifier: Apache-2.0 WITH LLVM-exception

name: HF Top-1000 models Test Suite
on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
    - main
  schedule:
  # Runs at 2:30 AM PST
  - cron: '0 1 * * 6'
jobs:
  e2eamdshark:
    timeout-minutes: 6000
    name: "Models :: ${{ matrix.backend }} :: ${{ matrix.test-file }}"
    runs-on: ${{ matrix.runs-on }}
    strategy:
      fail-fast: false
      matrix:
        include:
        - name: mi325_gpu1_test
          runs-on: linux-mi325-1gpu-ossci-nod-ai
          backend: rocm
          device: hip
          target-chip: gfx942
          test-file: hf-feature-extraction-shard
          cache-dir: /home/runner/data/e2eamdshark/amdshark-test-suite-models-cache
        - name: mi325_gpu2_test
          runs-on: linux-mi325-1gpu-ossci-nod-ai
          backend: rocm
          device: hip
          target-chip: gfx942
          test-file: hf-fill-mask-shard
          cache-dir: /home/runner/data/e2eamdshark/amdshark-test-suite-models-cache
        # - name: mi325_gpu3_test
        #   runs-on: linux-mi325-1gpu-ossci-nod-ai
        #   backend: rocm
        #   device: hip
        #   target-chip: gfx942
        #   test-file: hf-image-classification-shard
        #   cache-dir: /home/runner/data/e2eamdshark/amdshark-test-suite-models-cache
        # - name: mi325_gpu4_test
        #   runs-on: linux-mi325-1gpu-ossci-nod-ai
        #   backend: rocm
        #   device: hip
        #   target-chip: gfx942
        #   test-file: hf-image-segmentation-shard
        #   cache-dir: /home/runner/data/e2eamdshark/amdshark-test-suite-models-cache
        # - name: mi325_gpu5_test
        #   runs-on: linux-mi325-1gpu-ossci-nod-ai
        #   backend: rocm
        #   device: hip
        #   target-chip: gfx942
        #   test-file: hf-multiple-choice-shard
        #   cache-dir: /home/runner/data/e2eamdshark/amdshark-test-suite-models-cache
        # - name: mi325_gpu6_test
        #   runs-on: linux-mi325-1gpu-ossci-nod-ai
        #   backend: rocm
        #   device: hip
        #   target-chip: gfx942
        #   test-file: hf-object-detection-shard
        #   cache-dir: /home/runner/data/e2eamdshark/amdshark-test-suite-models-cache
        # - name: mi325_gpu7_test
        #   runs-on: linux-mi325-1gpu-ossci-nod-ai
        #   backend: rocm
        #   device: hip
        #   target-chip: gfx942
        #   test-file: hf-question-answering-shard
        #   cache-dir: /home/runner/data/e2eamdshark/amdshark-test-suite-models-cache
        # - name: mi325_gpu8_test
        #   runs-on: linux-mi325-1gpu-ossci-nod-ai
        #   backend: rocm
        #   device: hip
        #   target-chip: gfx942
        #   test-file: hf-semantic-segmentation-shard
        #   cache-dir: /home/runner/data/e2eamdshark/amdshark-test-suite-models-cache
        # - name: mi325_gpu9_test
        #   runs-on: linux-mi325-1gpu-ossci-nod-ai
        #   backend: rocm
        #   device: hip
        #   target-chip: gfx942
        #   test-file: hf-text-classification-shard
        #   cache-dir: /home/runner/data/e2eamdshark/amdshark-test-suite-models-cache
        # - name: mi325_gpu10_test
        #   runs-on: linux-mi325-1gpu-ossci-nod-ai
        #   backend: rocm
        #   device: hip
        #   target-chip: gfx942
        #   test-file: hf-text-generation-shard
        #   cache-dir: /home/runner/data/e2eamdshark/amdshark-test-suite-models-cache
        # - name: mi325_gpu11_test
        #   runs-on: linux-mi325-1gpu-ossci-nod-ai
        #   backend: rocm
        #   device: hip
        #   target-chip: gfx942
        #   test-file: hf-token-classification-shard
        #   cache-dir: /home/runner/data/e2eamdshark/amdshark-test-suite-models-cache
        - name: cpu_shard1_test
          runs-on: nodai-cpu-x86-64
          backend: llvm-cpu
          device: local-task
          target-chip: x86_64-linux-gnu
          test-file: hf-feature-extraction-shard
          cache-dir: /home/runner/groups/aig_amdsharks/test-suite-ci-cache
        - name: cpu_shard2_test
          runs-on: nodai-cpu-x86-64
          backend: llvm-cpu
          device: local-task
          target-chip: x86_64-linux-gnu
          test-file: hf-fill-mask-shard
          cache-dir: /home/runner/groups/aig_amdsharks/test-suite-ci-cache
        # - name: cpu_shard3_test
        #   runs-on: nodai-cpu-x86-64
        #   backend: llvm-cpu
        #   device: local-task
        #   target-chip: x86_64-linux-gnu
        #   test-file: hf-image-classification-shard
        #   cache-dir: /home/runner/groups/aig_amdsharks/test-suite-ci-cache
        # - name: cpu_shard4_test
        #   runs-on: nodai-cpu-x86-64
        #   backend: llvm-cpu
        #   device: local-task
        #   target-chip: x86_64-linux-gnu
        #   test-file: hf-image-segmentation-shard
        #   cache-dir: /home/runner/groups/aig_amdsharks/test-suite-ci-cache
        # - name: cpu_shard5_test
        #   runs-on: nodai-cpu-x86-64
        #   backend: llvm-cpu
        #   device: local-task
        #   target-chip: x86_64-linux-gnu
        #   test-file: hf-multiple-choice-shard
        #   cache-dir: /home/runner/groups/aig_amdsharks/test-suite-ci-cache
        # - name: cpu_shard6_test
        #   runs-on: nodai-cpu-x86-64
        #   backend: llvm-cpu
        #   device: local-task
        #   target-chip: x86_64-linux-gnu
        #   test-file: hf-object-detection-shard
        #   cache-dir: /home/runner/groups/aig_amdsharks/test-suite-ci-cache
        # - name: cpu_shard7_test
        #   runs-on: nodai-cpu-x86-64
        #   backend: llvm-cpu
        #   device: local-task
        #   target-chip: x86_64-linux-gnu
        #   test-file: hf-question-answering-shard
        #   cache-dir: /home/runner/groups/aig_amdsharks/test-suite-ci-cache
        # - name: cpu_shard8_test
        #   runs-on: nodai-cpu-x86-64
        #   backend: llvm-cpu
        #   device: local-task
        #   target-chip: x86_64-linux-gnu
        #   test-file: hf-semantic-segmentation-shard
        #   cache-dir: /home/runner/groups/aig_amdsharks/test-suite-ci-cache
        # - name: cpu_shard9_test
        #   runs-on: nodai-cpu-x86-64
        #   backend: llvm-cpu
        #   device: local-task
        #   target-chip: x86_64-linux-gnu
        #   test-file: hf-text-classification-shard
        #   cache-dir: /home/runner/groups/aig_amdsharks/test-suite-ci-cache
        # - name: cpu_shard10_test
        #   runs-on: nodai-cpu-x86-64
        #   backend: llvm-cpu
        #   device: local-task
        #   target-chip: x86_64-linux-gnu
        #   test-file: hf-text-generation-shard
        #   cache-dir: /home/runner/groups/aig_amdsharks/test-suite-ci-cache
        # - name: cpu_shard11_test
        #   runs-on: nodai-cpu-x86-64
        #   backend: llvm-cpu
        #   device: local-task
        #   target-chip: x86_64-linux-gnu
        #   test-file: hf-token-classification-shard
        #   cache-dir: /home/runner/groups/aig_amdsharks/test-suite-ci-cache
    env:
      E2E_VENV_DIR: ${{ github.workspace }}/test-suite_venv
      #EP_VENV_DIR: ${{ github.workspace }}/ep_venv
      ALT_E2E_VENV_DIR: ${{ github.workspace }}/alt-test-suite_venv
      HF_TOKEN: ${{ secrets.HF_TOKEN }}
      AZ_PRIVATE_CONNECTION: ${{ secrets.ONNXPRIVATESTORAGE_AZ_PRIVATE_CONNECTION }}
      CACHE_DIR: ${{ matrix.cache-dir }}
    steps:
    - name: "Setting up Python"
      id: setup_python
      uses: actions/setup-python@a26af69be951a213d495a4c3e4e4022e16d87065 # v5.6.0
      with:
        python-version: "3.11"

    - name: Checkout Test Suite
      uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      with:
        repository: nod-ai/AMD-SHARK-TestSuite
        path: test-suite

    - name: "Setup alt e2eamdshark python venv"
      run: |
        rm -rf ${ALT_E2E_VENV_DIR}
        sudo apt update
        sudo apt install wget
        python -m venv ${ALT_E2E_VENV_DIR}
        source ${ALT_E2E_VENV_DIR}/bin/activate
        pip install --upgrade pip
        pip install -r ./alt_e2eamdshark/base_requirements.txt
        pip install -r ./alt_e2eamdshark/hf_requirements.txt
        pip install -r ./alt_e2eamdshark/iree_requirements.txt
        pip install --no-deps -r ./alt_e2eamdshark/torch_mlir_requirements.txt
        pip install --pre --upgrade iree-base-compiler iree-base-runtime -f https://iree.dev/pip-release-links.html
      working-directory: ./test-suite

    - name: Run HF top-1000 model
      run: |
        source ${ALT_E2E_VENV_DIR}/bin/activate
        pip freeze
        cd alt_e2eamdshark
        free -mh
        python3.11 ./run.py \
          -r ./test-onnx \
          --report \
          --testsfile onnx_tests/models/external_lists/hf-model-shards/${{ matrix.test-file }}.txt \
          -b ${{ matrix.backend }} \
          -d ${{ matrix.device }} \
          -c ${{ matrix.target-chip }} \
          --report-file reports/${{ matrix.test-file }}.md \
          --mode=cl-onnx-iree \
          --cleanup=3 \
          --get-metadata \
          -v
        python utils/find_duplicate_models.py -s -r ./test-onnx -o reports/duplicates.json
      working-directory: ./test-suite

    - uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
      with:
        name: ci_reports_${{ matrix.backend }}_${{ matrix.test-file }}_onnx_md
        path: ./test-suite/alt_e2eamdshark/reports/${{ matrix.test-file }}.md

    - uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
      with:
        name: ci_reports_${{ matrix.backend }}_${{ matrix.test-file }}_onnx_json
        path: ./test-suite/alt_e2eamdshark/reports/${{ matrix.test-file }}.json

    - uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
      with:
        name: ci_reports_${{ matrix.backend }}_${{ matrix.test-file }}_duplicates_json
        path: ./test-suite/alt_e2eamdshark/duplicates.json

  push_artifacts:
    needs: [ e2eamdshark ]
    runs-on: ${{ matrix.runs-on }}
    strategy:
      fail-fast: false
      max-parallel: 1
      matrix:
        include:
        - name: merge_rocm_reports
          runs-on: linux-mi325-1gpu-ossci-nod-ai
          backend: rocm
          regression-blob: rocm
        - name: merge_cpu_reports
          runs-on: nodai-cpu-x86-64
          backend: llvm-cpu
          regression-blob: cpu
    env:
      AZ_PUBLIC_KEY: ${{ secrets.AMD_SHARKPUBLIC_AZ_KEY }}
    steps:
    - name: Checkout Test Suite
      uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      with:
        repository: nod-ai/AMD-SHARK-TestSuite
        path: test-suite
    - name: Checkout repo
      uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      with:
        repository: nod-ai/e2eamdshark-reports
        ref: main
        token: ${{ secrets.E2EAMDSHARK_GITHUB_TOKEN }}
        path: e2eamdshark-reports
    - name: "Setting up Python"
      id: setup_python
      uses: actions/setup-python@a26af69be951a213d495a4c3e4e4022e16d87065 # v5.6.0
      with:
        python-version: "3.11"
    - name: "Setup alt test suite venv"
      run: |
        sudo apt update
        sudo apt install wget
        curl -sL https://aka.ms/InstallAzureCLIDeb | sudo bash
        python -m venv report_venv_alt
        source report_venv_alt/bin/activate
        pip install --upgrade pip
        pip install -r ./test-suite/alt_e2eamdshark/base_requirements.txt
        pip install -r ./test-suite/alt_e2eamdshark/iree_requirements.txt
        pip install --no-deps -r ./test-suite/alt_e2eamdshark/torch_mlir_requirements.txt
        pip install --pre --upgrade iree-base-compiler iree-base-runtime -f https://iree.dev/pip-release-links.html

    - uses: actions/download-artifact@95815c38cf2ff2164869cbab79da8d1f422bc89e # v4.2.1
      with:
        name: ci_reports_${{ matrix.backend }}_hf-feature-extraction-shard_onnx_md
        path: ./e2eamdshark-reports/ci_reports_${{ matrix.backend }}_hf-feature-extraction-shard_onnx_md
    - uses: actions/download-artifact@95815c38cf2ff2164869cbab79da8d1f422bc89e # v4.2.1
      with:
        name: ci_reports_${{ matrix.backend }}_hf-feature-extraction-shard_onnx_json
        path: ./e2eamdshark-reports/ci_reports_${{ matrix.backend }}_hf-feature-extraction-shard_onnx_json
    - uses: actions/download-artifact@95815c38cf2ff2164869cbab79da8d1f422bc89e # v4.2.1
      with:
        name: ci_reports_${{ matrix.backend }}_hf-fill-mask-shard_onnx_md
        path: ./e2eamdshark-reports/ci_reports_${{ matrix.backend }}_hf-fill-mask-shard_onnx_md
    - uses: actions/download-artifact@95815c38cf2ff2164869cbab79da8d1f422bc89e # v4.2.1
      with:
        name: ci_reports_${{ matrix.backend }}_hf-fill-mask-shard_onnx_json
        path: ./e2eamdshark-reports/ci_reports_${{ matrix.backend }}_hf-fill-mask-shard_onnx_json
    # - uses: actions/download-artifact@master
    #   with:
    #     name: ci_reports_${{ matrix.backend }}_hf-image-classification-shard_onnx_md
    #     path: ./e2eamdshark-reports/ci_reports_${{ matrix.backend }}_hf-image-classification-shard_onnx_md
    # - uses: actions/download-artifact@master
    #   with:
    #     name: ci_reports_${{ matrix.backend }}_hf-image-classification-shard_onnx_json
    #     path: ./e2eamdshark-reports/ci_reports_${{ matrix.backend }}_hf-image-classification-shard_onnx_json
    # - uses: actions/download-artifact@master
    #   with:
    #     name: ci_reports_${{ matrix.backend }}_hf-image-segmentation-shard_onnx_md
    #     path: ./e2eamdshark-reports/ci_reports_${{ matrix.backend }}_hf-image-segmentation-shard_onnx_md
    # - uses: actions/download-artifact@master
    #   with:
    #     name: ci_reports_${{ matrix.backend }}_hf-image-segmentation-shard_onnx_json
    #     path: ./e2eamdshark-reports/ci_reports_${{ matrix.backend }}_hf-image-segmentation-shard_onnx_json
    # - uses: actions/download-artifact@master
    #   with:
    #     name: ci_reports_${{ matrix.backend }}_hf-multiple-choice-shard_onnx_md
    #     path: ./e2eamdshark-reports/ci_reports_${{ matrix.backend }}_hf-multiple-choice-shard_onnx_md
    # - uses: actions/download-artifact@master
    #   with:
    #     name: ci_reports_${{ matrix.backend }}_hf-multiple-choice-shard_onnx_json
    #     path: ./e2eamdshark-reports/ci_reports_${{ matrix.backend }}_hf-multiple-choice-shard_onnx_json
    # - uses: actions/download-artifact@master
    #   with:
    #     name: ci_reports_${{ matrix.backend }}_hf-object-detection-shard_onnx_md
    #     path: ./e2eamdshark-reports/ci_reports_${{ matrix.backend }}_hf-object-detection-shard_onnx_md
    # - uses: actions/download-artifact@master
    #   with:
    #     name: ci_reports_${{ matrix.backend }}_hf-object-detection-shard_onnx_json
    #     path: ./e2eamdshark-reports/ci_reports_${{ matrix.backend }}_hf-object-detection-shard_onnx_json
    # - uses: actions/download-artifact@master
    #   with:
    #     name: ci_reports_${{ matrix.backend }}_hf-question-answering-shard_onnx_md
    #     path: ./e2eamdshark-reports/ci_reports_${{ matrix.backend }}_hf-question-answering-shard_onnx_md
    # - uses: actions/download-artifact@master
    #   with:
    #     name: ci_reports_${{ matrix.backend }}_hf-question-answering-shard_onnx_json
    #     path: ./e2eamdshark-reports/ci_reports_${{ matrix.backend }}_hf-question-answering-shard_onnx_json
    # - uses: actions/download-artifact@master
    #   with:
    #     name: ci_reports_${{ matrix.backend }}_hf-semantic-segmentation-shard_onnx_md
    #     path: ./e2eamdshark-reports/ci_reports_${{ matrix.backend }}_hf-semantic-segmentation-shard_onnx_md
    # - uses: actions/download-artifact@master
    #   with:
    #     name: ci_reports_${{ matrix.backend }}_hf-semantic-segmentation-shard_onnx_json
    #     path: ./e2eamdshark-reports/ci_reports_${{ matrix.backend }}_hf-semantic-segmentation-shard_onnx_json
    # - uses: actions/download-artifact@master
    #   with:
    #     name: ci_reports_${{ matrix.backend }}_hf-text-classification-shard_onnx_md
    #     path: ./e2eamdshark-reports/ci_reports_${{ matrix.backend }}_hf-text-classification-shard_onnx_md
    # - uses: actions/download-artifact@master
    #   with:
    #     name: ci_reports_${{ matrix.backend }}_hf-text-classification-shard_onnx_json
    #     path: ./e2eamdshark-reports/ci_reports_${{ matrix.backend }}_hf-text-classification-shard_onnx_json
    # - uses: actions/download-artifact@master
    #   with:
    #     name: ci_reports_${{ matrix.backend }}_hf-text-generation-shard_onnx_md
    #     path: ./e2eamdshark-reports/ci_reports_${{ matrix.backend }}_hf-text-generation-shard_onnx_md
    # - uses: actions/download-artifact@master
    #   with:
    #     name: ci_reports_${{ matrix.backend }}_hf-text-generation-shard_onnx_json
    #     path: ./e2eamdshark-reports/ci_reports_${{ matrix.backend }}_hf-text-generation-shard_onnx_json
    # - uses: actions/download-artifact@master
    #   with:
    #     name: ci_reports_${{ matrix.backend }}_hf-token-classification-shard_onnx_md
    #     path: ./e2eamdshark-reports/ci_reports_${{ matrix.backend }}_hf-token-classification-shard_onnx_md
    # - uses: actions/download-artifact@master
    #   with:
    #     name: ci_reports_${{ matrix.backend }}_hf-token-classification-shard_onnx_json
    #     path: ./e2eamdshark-reports/ci_reports_${{ matrix.backend }}_hf-token-classification-shard_onnx_json

    - name: Merge Reports
      run: |
        source report_venv_alt/bin/activate
        ./test-suite/alt_e2eamdshark/scripts/merge_and_push_reports.sh \
          --backend ${{ matrix.backend }} \
          --reports-dir ./e2eamdshark-reports \
          --test-suite-dir ./test-suite \
          --venv-dir ./report_venv_alt

    - name: Push regression artifacts
      run: |
        git config user.name "GitHub Actions Bot"
        git config user.email "<>"
        git pull
        date=$(date '+%Y-%m-%d')
        cp yesterday_comparison.md ${date}/ci_reports_onnx/${{ matrix.backend }}/combined-reports_unique/yesterday_comparison.md
        cp baseline_comparison.md ${date}/ci_reports_onnx/${{ matrix.backend }}/combined-reports_unique/baseline_comparison.md
        git add $date
        git commit -m "Add CI regression reports for e2eamdshark for ${{ matrix.backend }}"
        git push origin main
      working-directory: ./e2eamdshark-reports
